- backer = @notification.backer
|Caro, <strong>#{backer.user.display_name}</strong>!
br
br
|Você é absolutamente incrível! O formigueiro agradece o seu suporte e espera que continue nos acompanhando para ver o Brasil crescer cada vez mais. Com o engajamento individual de cada membro desta grande colônia, acreditamos ser possível a realização de feitos grandiosos. 
br
br
|Sem educação, o desenvolvimento não chega. Nós, em nome de todos os brasileiros, agradecemos mais uma vez por sua iniciativa, que, com certeza, contribuirá para o desenvolvimento de nosso país!
br
br
|Fazemos o convite para acompanhar a evolução do projeto que decidiu apoiar e divulgá-lo ao maior número de pessoas possível. 
br
br
|Via esta forma de contato e através de atualizações no site, manter-lhe-emos informado sobre novidades e situação do respectivo projeto.
br
br
|Muito obrigado mais uma vez!
br
br
|Atenciosamente,
br
|Equipe O Formigueiro
